.container {
  display: flex;  
 width: 100%;
  .container_info {
    padding-top: 50px;    
    text-align: center;    
    width: 50%;
    .header {
      font-size: 70px;
      font-family: sans-serif;
      font-weight: 700;
    }
    &_p {
      font-size: 16px;
      font-family: sans-serif;
      padding-top: 25px;
    }
    &_product {
      display: flex;
      padding-top: 100px;
      justify-content: center;
      gap: 20px;
      img {
        width: 165px;
        border: 7px solid #117050;
        border-radius: 50%;
        object-fit: contain;
      }
    }
  }
  .part-one{
    width:50%;    
  }
}
